@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0px;
    font-size: 96px;
    color: #E5FCFF;
    overflow: hidden;
    cursor: none !important;
}

button:hover {

    cursor: none !important;
}

.extra {
    height: 15px;
    width: inherit;
    background: white;
}

.outter {
    background-color: #ACACDE;
    display: flex;
    height: inherit;
    width: 100%;
}

.inner {
    margin: auto;
    padding: 50px;
}


.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid rgb(255, 255, 255, 1);
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: rgb(255, 255, 255, 0.2);
    animation: moveCursor2 .5s forwards;
    border: 1px solid rgb(255, 255, 255, .9);
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);

        opacity: 1;

    }

    to {
        transform: scale(.8);

        opacity: 0.9;
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);

        opacity: 0;
    }

    30% {
        opacity: 0.5;
        transform: scale(2);
    }

    60% {
        transform: scale(1.5);

        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}