@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0px;
    background-color: #ACACDE;
    font-size: 96px;
    color: #E5FCFF
}

.outter {
    display: flex;
    height: 100%;
    width: 100%;
}

.inner {
    margin: auto;
}