@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,900');

html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0px;
    font-size: 96px;
    color: #E5FCFF;
    overflow: hidden;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' opacity='0.8' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/svg%3E"), pointer;

}

button {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' opacity='0.8' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/svg%3E"), pointer;
}


.extra {
    height: 15px;
    width: inherit;
    background: white;
}

.outter {
    background-color: #ACACDE;
    display: flex;
    height: inherit;
    width: 100%;
}

.inner {
    margin: auto;
    padding: 50px;
}

.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 35%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 2px solid rgb(255, 255, 255, 1);
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}


.expand {
    background: rgba(255, 255, 255, 0.2);
    animation: moveCursor2 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}


@keyframes moveCursor1 {
    from {
        transform: scale(1);

        opacity: 1;

    }

    to {
        transform: scale(.8);

        opacity: 0.9;
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);

        opacity: 0;
    }

    30% {
        opacity: 0.5;
        transform: scale(2);
    }

    60% {
        transform: scale(1.5);

        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.animated-button {
    color: #fff;
    cursor: pointer;
    background-color: #35164d;
    border: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 100;
    max-width: 200px;
    padding: 15px 32px;
    width: 100%;
}

.shrink {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.shrink:hover {
    -webkit-transform: scale(.9, .9);
    -moz-transform: scale(.9, .9);
    transform: scale(.9, .9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}